<h2>Insurance request</h2>
<form [formGroup]="compensationForm" (ngSubmit)="onSubmit()">
  <div class="form-group" style="margin-bottom: 5px;">
    <label for="amount">Amount</label>
    <input type="number" id="amount" formControlName="amount" class="form-control" />
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea id="description" rows="8" formControlName="description" class="form-control"></textarea>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Apply
    </button>
  </div>
</form>
